:root {
    /* Text */
    --primaryTextColor: #fff;
    --accentTextColor: #009AFF;
    --darkGreyTextColor: #5c5c5c;
    --greyTextColor: #949494;

    /* Background-color */
    --primaryBgrColor: #000;
    --darkGreyBg: #252525;
    --primaryBgrGradientVertical: linear-gradient(
            180deg,
            rgba(38, 168, 229, 1) 0%,
            rgba(179, 148, 234, 1) 100%
    );
    --primaryBgrGradientHorizontal: linear-gradient(
            90deg,
            rgba(38, 168, 229, 1) 0%,
            rgba(179, 148, 234, 1) 100%
    );

    --dividerColor: #979797;

    /* Border Radius */
    --buttonBorderRadius: 8px;
    --commonBorderRadius: 8px;

    /* Paddings */
    --pagePadding: 12px;
    --titlePadding: 10px;

    /* Common */
    --white: #fff;
    --black: #000;
    --blue: #009AFF;
}

body {
    min-width: 320px;
    /* max-width: 768px; */
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--primaryTextColor);
    background-color: var(--primaryBgrColor);
    font-family: "Roboto", sans-serif;
    /* Text */
    --primaryTextColor: #fff;
    --blueTextColor: #009AFF;

    /* Background-color */
    --primaryBgrColor: #000;
    --primaryBgrGradientVertical: linear-gradient(
            180deg,
            rgba(38, 168, 229, 1) 0%,
            rgba(179, 148, 234, 1) 100%
    );
    --primaryBgrGradientHorizontal: linear-gradient(
            90deg,
            rgba(38, 168, 229, 1) 0%,
            rgba(179, 148, 234, 1) 100%
    );
    --darkGreyButtonColor: #1A1A1A;

    /* Common */
    --white: #fff;
    --black: #000;
}

/* Fonts */
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 800;
}

code {
    font-family: source-code-pro, "Open Sans", Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

a,
button {
    cursor: pointer;
}

svg {
    flex-shrink: 0;
    display: inline-block;
    transform-origin: center;
    transition: fill 0.2s, transform 0.2s;
}

img,
video {
    flex-shrink: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
}
